.container {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);    
    grid-gap: 10px;
    min-height: calc(100vh - 100px);
}

.producto{
    grid-column-start:2 ;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
        
}

.content{
    box-shadow:var(--box);
    padding: 10px;
    width: 100%;
    height: 280px;


}

.formulario{
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    box-shadow:var(--box);
}

.form_formulario *{
    width: 80%;
}

.input{
    height: 20px;
}

@media screen and (max-width:900px) {
    .row {
        display: inherit;
    }
}